@{
    ViewBag.Title = "MakeTransaction";
}

<form method="post">
    <label>SourceAccountId:</label><br />
    <input type="number" name="SourceAccountId" /><br /><br />
    <label>TargetAccountId:</label><br />
    <input type="number" name="TargetAccountId" /><br /><br />
    <label>MoneySum:</label><br />
    <input type="number" name="MoneySum" /><br /><br />
    <input type="submit" value="Отправить" />
</form>