@{
    ViewBag.Title = "MakeAccount";
}

<form method="post">
    <label>Idt:</label><br />
    <input type="number" name="Id" /><br /><br />
    <label>Money:</label><br />
    <input type="number" name="Money" /><br /><br />
    <input type="submit" value="Отправить" />
</form>